## Using this following bash we find 74811 reads in the file we use to test the two tools:

grep ">" test.fa | wc -l

In [1]:
import pandas as pd
import os

os.getcwd()

df = pd.read_table("/students/2022-2023/master/creme_de_la_creme/mapseq-test/mapseq-1.2.6-linux/barcode20-mapseq.mseq", sep='\t', skiprows=[0])

In [2]:
print("Species count: {}".format(df['Species'].count()))
print("Unique families: {}".format(df['Family'].nunique()))
print("Unique species: {}".format(df['Species'].nunique()))

Species count: 74811
Unique families: 117
Unique species: 466

# Entrez mapping NCBI refseq identifiers

### Command line option: 

See ~/Master/creme-de-la-creme/minimap2-blastn/blast.sh

In [3]:
df_blastn = pd.read_table("/students/2022-2023/master/creme_de_la_creme/output-blastn/barcode10.txt", 
                          sep="\t", header=None)

In [4]:
print("Total number of reads as input: 74811\n")

print("Amount of reads mapped to species: ", df_blastn[0].count())
print("Number of species: ", df_blastn[12].count())
print("Amount of unique reads mapped to species: ", df_blastn[0].nunique())
print("Number of unique species: ", df_blastn[12].nunique())
print("Number of species not mapped: ", df_blastn[12].isna().sum())

Total number of reads as input: 74811

Amount of reads mapped to species:  77559
Number of species:  77559
Amount of unique reads mapped to species:  74811
Number of unique species:  1598
Number of species not mapped:  0

In [5]:
family = df_blastn[12].str.split().str.get(0)
species = df_blastn[12].str.split().str.get(1)
species_blastn = family + ' ' + species
species_blastn.nunique()

1563

In [6]:
df_blastn.columns =['qseqid', 'sseqid', 'pident', 'length', 'mismatch', 'gapopen', 'qstart', 'qend', 'start', 'send', 'evalue', 'bitscore', 'species']

In [7]:
df_blastn.columns = pd.MultiIndex.from_tuples(zip(df_blastn.columns,
                                                   ['query or source (e.g., gene) sequence id', 
                                                   'subject  or target (e.g., reference genome) sequence id',
                                                   'percentage of identical matches',
                                                   'alignment length (sequence overlap)',
                                                   'number of mismatches',
                                                   'number of gap openings',
                                                   'start of alignment in query',
                                                   'end of alignment in query',
                                                   'start of alignment in subject',
                                                   'end of alignment in subject',
                                                   'expect value',
                                                   'bit score',
                                                   'species taxonomic classification']))
df_blastn.to_csv('minimap2-blastn/blastn-output-header.csv', index=False, sep='\t')

In [8]:
df_blastn

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,start,send,evalue,bitscore,species
,"query or source (e.g., gene) sequence id","subject or target (e.g., reference genome) sequence id",percentage of identical matches,alignment length (sequence overlap),number of mismatches,number of gap openings,start of alignment in query,end of alignment in query,start of alignment in subject,end of alignment in subject,expect value,bit score,species taxonomic classification
0,dd5c53ee-5b3c-46f1-b9a6-99f6c1f25a57,NR_144743.1,87.787,1261,113,34,1,1241,1477,238,0.0,1437.0,Christensenella timonensis
1,e10378da-0d67-4fd0-9451-cbb01b683de4,NR_037068.1,88.145,1240,98,36,1,1209,14,1235,0.0,1435.0,Lacrimispora xylanolytica
2,06eeff5f-241c-411f-bada-caa19a7a0871,NR_118554.1,86.360,1393,102,60,1,1315,1,1383,0.0,1439.0,Intestinimonas butyriciproducens
3,8ae3b40d-cc8c-41de-bf9b-a9dd2e8a6f35,NR_026348.1,80.392,1377,202,53,81,1409,1357,1,0.0,989.0,Desulforamulus aeronauticus
4,07dd2cc4-9dc4-4874-9b66-5a18090023a7,NR_074793.2,90.636,1463,103,28,1,1439,27,1479,0.0,1912.0,Oscillibacter valericigenes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77554,0fddc082-09d9-4651-be1b-fb001027f8fa,NR_026230.1,80.161,1492,203,72,3,1443,1,1450,0.0,1051.0,Porphyromonas catoniae ATCC 51270
77555,7a7bd229-87c4-44a8-94d5-4a525a29654b,NR_118554.1,88.919,1471,118,36,1,1442,1,1455,0.0,1772.0,Intestinimonas butyriciproducens
77556,a919d02c-509e-4ac6-b1e5-286788c38476,NR_144742.1,84.008,1482,168,57,1,1436,20,1478,0.0,1360.0,Christensenella massiliensis
77557,ea7564ae-38a5-429d-8d8f-d1d446bdff47,NR_025931.1,88.714,1338,91,33,83,1374,62,1385,0.0,1589.0,Ruminococcus flavefaciens
77558,186cdc3c-fe50-4d0e-bae5-b3139e8f083a,NR_144613.1,84.138,870,96,34,231,1071,224,1080,0.0,804.0,Irregularibacter muris

Kraken2 vs. Bracken

In [9]:
kraken2 = pd.read_csv("/students/2022-2023/master/creme_de_la_creme/kraken2/barcode05-greengenes/barcode05-greengenes.txt", sep="\t", header=None)
bracken = pd.read_csv("/students/2022-2023/master/creme_de_la_creme/kraken2/barcode05-greengenes/barcode05-greengenes_bracken_species.txt", sep="\t", header=None)

In [12]:
species_kraken2 = kraken2[kraken2.loc[:,3] == "S"]
species_bracken = bracken[bracken.loc[:,3] == "S"]

print("Species kraken2: ", species_kraken2[1].sum())
print("Species Bracken: ", species_bracken[1].sum())

species_kraken2

Species kraken2:  391982
Species Bracken:  414977

,0,1,2,3,4,5
7,81.57,339620,339620,S,2556,Propionibacterium acnes
8,0.01,37,37,S,2557,Propionibacterium granulosum
11,0.00,10,10,S,2499,Corynebacterium durum
12,0.00,9,9,S,2500,Corynebacterium kroppenstedtii
13,0.00,4,4,S,2506,Corynebacterium stationis
...,...,...,...,...,...,...
542,0.00,2,2,S,2622,Flavobacterium succinicans
551,0.00,1,1,S,2630,Sphingobacterium faecium
552,0.00,1,1,S,2631,Sphingobacterium mizutaii
577,0.00,1,1,S,3092,Deinococcus aquatilis
588,0.00,1,1,S,2484,Edaphobacter modestum